<%= link_to "<< Previous", admin_index_path, method: "get" ,class: "Previous" %>
<div class = "Home-page-container" style="margin-top:60px;">
  <div class = "Home-item-block">
    <p>Invoices</p>
    <%= link_to "Invoices",invoices_path,class:"Home-item-right" %>
  </div>
  <div class = "Home-item-block">
     <p> Customers </p>
     <%= link_to "View Customers","",class:"Home-item-right"%>
  </div>
</div>
