.Home-item-block {
  background-color: honeydew;
  padding: 30px;
  margin: 30px;
  align-items: center;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
}
.Home-item-block img {
  margin-right: 10px;
}
.Home-item-block a {
  margin-right: 0px;
}
.Home-page-container {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px 250px;
  margin-top: 80px;
  justify-content: center;
  min-height: 30%;
  max-width: 100%;
  box-shadow: 5px 10px 18px #888888;
}
.icon {
  width: 48px;
  height: 48px;
}
.Home-item-left {
  display: flex;
  align-items: center;
}
.Home-item-right {
  border: 1px solid #282c3f;
  color: #282c3f;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  width: 200px;
  text-align: center;
}

.Home-item-right:hover {
  text-decoration: none;
  color: #fff;
  background-color: #12344d;
}

.Date-container {
  margin-left: 20px;
  line-height: 1.6;
}

.Date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Date-body {
  display: flex;
}

.Query-date {
  padding: 6px;
  font-size: 14px;
  color: #453c52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
}

.Date-text {
  font-size: 1.2rem;
}

.Date-submit-btn {
  height: 40px;
}

.Invoice-container {
  margin-top: 20px;
}
