.Item-menuCategory-body-customer {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  margin-top: 62px;
  margin-left: 312px;
  width: 51%;
  height: 87%;
  min-height: 30%;
  margin-right: 50px;
  position: fixed;
  z-index: -1;
  overflow: auto;
}

.Cart {
  background-color: white;
  padding: 0px 20px;
  padding-right: 0px;
  margin: 20px auto;
  margin-top: 62px;
  width: 25.5%;
  height: 87%;
  min-height: 30%;
  position: fixed;
  right: 15px;
  z-index: -1;
  box-shadow: 5px 10px 18px #888888;
}

.User-menu {
  margin-top: 11%;
  margin-left: 36%;
  text-align: center;
  padding: 30px 20px;
  max-width: fit-content;
}

.card {
  margin-top: 20px;
  border: none;
  border-bottom: 2px solid #cfd7df;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  font-size: 1.22rem;
  color: #282c3f;
  letter-spacing: 0.5px;
}

.card-body-left {
  line-height: 1.5;
}

.card-text {
  color: #888888;
}

.card-link,
.card-unavailable-link {
  border: 1px solid #282c3f;
  color: #282c3f;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.card-link:hover {
  text-decoration: none;
  color: #fff;
  background-color: #12344d;
}

.card-unavailable-link:hover {
  text-decoration: none;
  color: #282c3f;
  cursor: context-menu;
}

.Empty-cart {
  text-align: center;
  margin-top: 50%;
}

.Empty-cart-image {
  width: 320px;
  height: 200px;
}

.Empty-cart-text {
  font-size: 1.5rem;
  color: #888888;
  font-weight: bold;
  margin-top: 20px;
}

.Clear-cart {
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #12344d;
  padding: 10px 15px;
  margin-right: 0;
}

.Cart-heading-text {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #12344d;
  padding-bottom: 0px;
}

.Cart-head {
  display: flex;
  border-bottom: 0.5px solid #cfd7df;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 5px;
  align-items: center;
  position: fixed;
  width: 23%;
  z-index: 1;
  background-color: white;
}

.Clear-cart:hover {
  color: #fff;
  text-decoration: none;
  background-color: #12335d;
}

.Cart-body {
  margin-top: 18%;
  overflow-y: auto;
  height: 440px;
}

.Cart .Cart-footer {
  justify-content: center;
  padding: 10px;
  width: 100%;
  z-index: 1;
}
.Order-btn {
  margin: 0px auto;
  font-size: 1.2rem;
  display: flex;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #12344d;
  padding: 10px 15px;
  text-align: center;
  justify-content: center;
}

.Order-btn:hover {
  color: white;
  text-decoration: none;
  background-color: #12335d;
}

.Cart-item {
  margin-top: 50px;
  border: none;
  border-bottom: 0.5px solid #cfd7df;
  padding-bottom: 10px;
}

.Quantity {
  display: flex;
  align-items: center;
  border: 0.5px solid #cfd7df;
  margin-right: 10px;
}

.Quantity-change {
  font-size: 1.5rem;
  color: black;
  padding: 5px;
}

.Quantity-change:hover {
  color: black;
  text-decoration: none;
}

.Quantity-text {
  font-size: 1.1rem;
  color: #60b246;
  padding: 0px 10px;
}

.Cart-item-name {
  font-size: 1.2rem;
  width: 200px;
  overflow-wrap: break-word;
}

.Cart-item-price {
  font-size: 1.1rem;
  color: #535665;
  margin-top: 10px;
}

.Cart-up-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.Quantity-text-checkout {
  margin-left: 120px;
  font-size: 1.1rem;
  color: #60b246;
}

.Checkout-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  border-radius: 4px;
  box-shadow: 2px 5px 8px #888888;
  padding: 10px 5px;
}

.Checkout-item-price {
  font-size: 1.1rem;
  color: #535665;
}

.Add-address {
  background-color: #12344d;
  padding: 10px 40px;
  text-align: center;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 20px;
  font-size: 1.3rem;
  height: fit-content;
}

.Add-new-address {
  margin: 0px auto;
  padding: 10px;
  background-color: #12344d;
  color: white;
  border-radius: 4px;
  margin-top: 15px;
  font-size: 1.2rem;
  display: block;
  max-width: fit-content;
  justify-content: center;
}
.Add-new-address:hover {
  color: white;
  background-color: #12335d;
  text-decoration: none;
}
.Checkout-cart-right {
  display: flex;
  align-items: center;
  min-width: 300px;
  margin-right: 10px;
  justify-content: space-between;
}
.Checkout-cart-right .Quantity-text-checkout {
  margin: 10px auto;
  margin-left: 10px;
}

.Checkout-cart-right .Checkout-item-price {
  margin-left: 50px;
}

.Address-item {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  margin-top: 30px;
  border-bottom: 0.5px solid #cfd7df;
  justify-content: space-between;
  padding-bottom: 10px;
}

.Address-text {
  margin-left: 10px;
  font-size: 1.2rem;
  width: 530px;
  overflow-wrap: break-word;
}

.Address-left {
  display: flex;
  align-items: center;
}

.Address-right {
  display: flex;
  align-items: center;
}

.Total-amount-checkout {
  font-size: 1.3rem;
  color: #12344d;
  font-weight: bolder;
}

.Total-amount {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border: 3px dashed #cfd7df;
  padding: 10px;
}

.Address-checkout {
  margin-top: 20px;
  border: 1px solid #009efb;
  padding: 10px;
  border-radius: 4px;
}

.Confirm-order {
  color: white;
  padding: 12px 20px;
  background-color: #009efb;
  font-size: 1.4rem;
  border: none;
  border-radius: 4px;
  display: block;
  max-width: 300px;
  text-align: center;
  justify-content: center;
  margin: 0px auto;
  margin-top: 10px;
}

.Confirm-order:hover {
  color: white;
  text-decoration: none;
}
