.navbar {
  background-color: #12344d;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.nav-link {
  color: white;
}

.NoItemsFound {
  margin: 0px auto;
}

.User-profile {
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  text-align: right;
  right: 0;
}
